<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= flysite.title %> </h1>
    <h2><%= flysite.location %> </h2>
    <p>
        <a href="/flysites/<%= flysite._id %>/edit ">Edit</a>
    </p>
    <form action="/flysites/<%=flysite._id%>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>
    <footer>
        <a href="/flysites">All flysites</a>
    </footer>


    
</body>
</html>